<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Activities</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to Activities' Manager
		</h2>
		<br/>
		<h3>Create Activity</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/activityProviders/{code}/activities(code=${activityProvider.code})}" th:object="${activity}" method="post">
			<label>Name: </label> <input class="form-control" type="text" th:field="*{name}" /> 
			<label>Minimun Age: </label> <input class="form-control" type="number" th:field="*{minAge}" />  
			<label>Maximum Age: </label> <input class="form-control" type="number" th:field="*{maxAge}" /> 
			<label>Capacity: </label> <input class="form-control" type="text" th:field="*{capacity}" />
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of rooms</h3>
		<div class = "row col-md-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Minimum Age</th>
						<th>Maximum Age</th>
						<th>Capacity</th>
						<th>Offers</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="activity: ${activityProvider.activities}">
						<td th:text="${activity.name}">Name</td>
						<td th:text="${activity.minAge}">Minimun Age</td>
						<td th:text="${activity.maxAge}">Maximim Age</td>
						<td th:text="${activity.capacity}">Capacity</td>
						<td><a
							th:href="@{/activities/{name}/activityOffers(name=${activity.name})}">Link</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>